*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    height: 1000px;
    /* background: #efefef; */
}
.box{
    width: 80%;
    height: 200px;
    background: green;
    position: relative;
    left: 10%;
    top: 10%;
}
.icon{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}
.left-icon{
    top: 75px;
    left: -20px;
}
.right-icon{
    top: 75px;
    right: -20px;
}