
a:link{
    text-decoration: none;
    color: #fff;
    background: #333;
}
a:visited{
    background: red;
    color: yellow;
}
a:hover{
    background:yellow;
    color:red;
}
a:active{
    background:green;
    color: #333;
}