#tomato{
    color:tomato;
    text-align: center;
}
#orange{
    color:orange;
    text-align: center;
}
#dodgerblue{
    color:DodgerBlue;
    text-align: center;
}
#mediumseagreen{
    color: mediumseagreen;
    text-align: center;
}
#gray{
    color:gray;
    text-align: center;
}
#slateblue{
    color: slateblue;
    text-align: center;
}
#voilet{
    color: voilet;
    text-align: center;
}
#lightgray{
    color: lightgray;
    text-align: center;
}